.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: 100%;   
    height: 100vh; 
}

.topSection {
    display: flex; 
    flex: 1; /* Takes up most of the vertical space */
}

.jobList {
    width: 25%;   
    height: 50vh; /* Full height of the parent */
    overflow-y: auto; 
    border-right: 2px solid #000; /* Separates the job list from the map */
    padding: 10px;
    margin-right: 20px;
}

.mapContainer {
    flex-grow: 1; /* Takes remaining horizontal space */
    height: 450px; /* Fixed height for the map */
}

ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;         
    margin: 0; 
}

li {
    cursor: pointer; /* Indicates interactivity */
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Line between items */
    transition: background-color 0.2s; /* Smooth hover effect */
}

li:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}

li:last-child {
    border-bottom: none; /* Removes the bottom border on the last item */
}

.jobDetails {
    width: 100%; /* Full width of the container */
    padding: 20px;
    background-color: #f8f8f8; /* Light grey background */
    border-top: 1px solid #ccc; /* Border separating from the map/job list */
    box-sizing: border-box; /* Ensures padding is included in width/height */
}
